errors/*
sessions/*
static/logs/log.csv
*.pyc
*.py.bak
*.log
.DS_Store
languages/*
/.project

databases/sql.log
*.txt
*.csv
*.txt
*.png
modules/alt_log/p16_mod
modules/alt_log/p17_mod
modules/alt_log/p20_mod
modules/alt_log/p22_mod
modules/alt_log/p23_mod
